h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin-left: 40px;
}

article {
    width: 100%;
    overflow: hidden;
}

section {
    position: fixed;
    width: 70%;
    text-align: justify;
    float: left;
}

aside {
    position: fixed;
    width: 30%;
    margin-left: 70%;
}